/* CSS styles */
body {
    text-align: center;
    /* background set to bg.png */
    background: url("bg.png") no-repeat center center fixed;
}

.titleStyle {
    color: lightgreen;
    font-size: 48pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 2px #000;
}

#game_table {
    margin: 0 auto;
}

#boardBoarder {
    padding: 0 20px;
    position: relative;
    margin: 20px auto;
    width: 400px;
    /* background color is a diagonal gradient from black to dark gray starting from upper left to lower right */
    background: linear-gradient(to bottom right, #000, #333);
}

#reversi_board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    /* margin: 20px; */
    position: relative;
}

.uxtext {
    height: 32px;
    margin: 0 auto;
    position: relative;
    font-size: 24pt;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#game_container {
    display: block;
}

#fun_stuff {
    display: inline-grid;
    width: 280px;
}

.letter {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
    width: 46px;
}

.space {
    width: 50px;
    height: 50px;
    background-color: #8FBC8F;
    border: 1px solid #000;
    transition: background-color 0.3s;
}

.space:hover {
    background-color: lightblue;
    cursor: pointer;
}

.legal-move {
    opacity: 0.25;
}

.legal-move:hover {
    opacity: 1;
}

/* Black piece class */
.piece-black {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 5px;
}

/* White piece class */
.piece-white {
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.button {
    width: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-variant: small-caps;
    color: darkgreen;
    background-color: #ccc;
    border: 4px solid #888;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #eee, #bbb);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.button:hover {
    background-image: linear-gradient(to bottom, #ddd, #888);
}

.button:active {
    background-image: linear-gradient(to bottom, #ccc, #666);
}